<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.honey96dev.homemadeproduct">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".user.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.SignupActivity"
            android:label="@string/activity_signup" />
        <activity
            android:name=".p4manager.ManagerMainActivity"
            android:label="@string/activity_manager_main" />
        <activity
            android:name=".p4manager.ManagerProductListActivity"
            android:label="@string/activity_manager_product_list" />
        <activity
            android:name=".p4manager.ManagerProductActivity"
            android:label="@string/activity_manager_product" />
        <activity
            android:name=".p4customer.CustomerMainActivity"
            android:label="@string/activity_customer_main" />
        <activity
            android:name=".p4customer.CustomerProductListActivity"
            android:label="@string/activity_customer_product_list" />
    </application>

</manifest>